@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 4rem;
  width: 75%;
  text-align: center;
  margin: 0 auto 50px;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
  margin: 0 0 0 0;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0 0;
}

p {
  font-size: 1.25rem;
  margin: 0;
}

/* Animations */
@keyframes LinearGradientAnimator {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.horizontalLine {
  height: 3px;
  width: 60%;
  margin: 75px auto;
  background: linear-gradient(
    98deg,
    rgba(255, 19, 154, 1) 0%,
    rgba(244, 114, 207, 1) 47%,
    rgba(173, 27, 172, 1) 100%
  );
}

.linearWrapper {
  background: rgb(255, 19, 154);
  background: linear-gradient(
    98deg,
    rgba(255, 19, 154, 1) 0%,
    rgba(244, 114, 207, 1) 47%,
    rgba(173, 27, 172, 1) 100%
  );
  background-size: 200% 200%;
  animation: LinearGradientAnimator 10s infinite;
  padding: 100px 0;
}

.whiteWrapper {
  background-color: white;
  margin: 0 auto;
  max-width: 1100px;
  width: 80vw;
  padding: 100px 0px;
}

.countdown {
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.countdown div {
  background-color: rgb(240, 240, 240);
  padding: 0 20px;
  border-radius: 10px;
  width: 140px;
  margin: 0 10px;
}
.countdown p {
  margin: 0;
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  h1 {
    width: 90%;
  }
  .countdown {
    height: 75px;
    font-size: 3rem;
  }
  .countdown p {
    font-size: 3rem;
  }
  .countdown div {
    width: 100px;
  }
  .textContent {
    padding: 0 50px !important;
  }
  .textContentLeft {
    padding: 0 50px !important;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 75%;
  }
}

.pinkTimer {
  background: linear-gradient(
    98deg,
    rgba(255, 19, 154, 1) 0%,
    rgba(244, 114, 207, 1) 100%
  );
  color: white;
}

.textContent {
  padding: 0 100px;
}

.fullWidthImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin: 50px 0;
  object-position: 50% 40%;
}

.textContentLeft {
  padding: 0 100px;
  text-align: right;
}

.videoBlock {
  margin: 50px 0;
}

.videoSection {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.videoSection video {
  width: 30%;
  margin: 0 10px;
}

.videoPinkBorder {
  transition: 0.25s ease-in-out;
  border: 4px transparent solid;
}

.videoPinkBorder:hover {
  border-color: rgba(244, 114, 207, 1);
  transition: 0.25s ease-in-out;
}

.footerImages {
  width: 30%;
}

.imagesBlock {
  display: flex;
  justify-content: center;
}
